<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Sga\ProductRules\Api\Data\RuleInterface" type="Sga\ProductRules\Model\Rule" />
    <preference for="Sga\ProductRules\Api\RuleRepositoryInterface" type="Sga\ProductRules\Model\RuleRepository" />

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Sga\ProductRules\Api\Data\RuleInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">sga_productrules_rule</item>
                    <item name="identifierField" xsi:type="string">rule_id</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="productrules_rule_listing_data_source" xsi:type="string">Sga\ProductRules\Model\ResourceModel\Rule\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Sga\ProductRules\Model\ResourceModel\Rule\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sga_productrules_rule</argument>
            <argument name="eventPrefix" xsi:type="string">productrules_rule_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">productrules_rule_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Sga\ProductRules\Model\ResourceModel\Rule</argument>
        </arguments>
    </type>

    <virtualType name="Sga\ProductRules\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/productrules.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="Sga\ProductRules\Logger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">ProductRules Logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Sga\ProductRules\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Sga\ProductRules\Model\Rule">
        <arguments>
            <argument name="logger" xsi:type="object">Sga\ProductRules\Logger\Logger</argument>
        </arguments>
    </type>
</config>
