<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Sga_ProductRules::rule" title="Product Rules" translate="title" module="Sga_ProductRules" sortOrder="100" parent="Magento_Catalog::inventory" action="productrules/rule" resource="Sga_ProductRules::rule"/>
    </menu>
</config>
